body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.layout {
  width: 65%;
  margin:auto;
  background-color: white;
  min-height: 100vh;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  text-align: left;
  font-size: calc(10px + 2vmin);
  color: black;
}

.landing-page {
  width: 65%;
  margin:auto;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.button-auth {
  background-color: rgb(48, 143, 226);
  color: white;
  cursor: pointer;
  border-radius: 5px;
  height: 2.5rem;
  width: 30rem;
  border: 0px;
}

.button-auth:hover {
  background-color: rgb(6, 27, 44);
}


.candidate-pane {
  width: 20rem;
  padding: 1.25rem;
  min-height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0.5rem;
  color: black;
  background-color: white;
  border: 0.125rem solid white;
  border-radius: 4px;
}

.candidate-pane h2 {
  margin: 0;
}


.candidate-pane p {
  color: grey;
  font-size: small;
}

.candidate-pane img {
  width: 18rem;
  height: 18rem
}

.candidate-pane button {
  background-color: rgb(48, 143, 226);
  color: white;
  cursor: pointer;
  border-radius: 5px;
  height: 2.5rem;
  width: 10rem;
  border: 0px;
  margin: auto
}

.candidate-pane button:hover {
  background-color: rgb(6, 27, 44);
}

.voting-bar {
  background-color: gray;
  width: 80%;
  min-height: 2rem;
  padding: 1rem;
  margin: 2rem auto;
  border-radius: 5px;
}

.voting-bar-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.voting-bar-header h2 {
  margin: 0;
}

.candidate-view {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.voting-page {
  width: 100%;
  text-align: center;
}

.voting-page p {
  font-size: large;
}


.interest-form {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 60%;
  min-height: 20rem;
  margin: auto;
}

.interest-form input {
  width: 100%;
  height: 2.5rem;
  border-radius: 5px;
  font-size: large;
}

.interest-form label {
  font-size: medium;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  
}

.interest-form button {
  background-color: black;
  padding: 0.5rem;
  border: 0;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.nav-bar {
  background-color: rgb(46, 46, 248);
  color: white;
  width: 100%;
  position: static;
  padding: 5px 0;

}

.nav-bar-main {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}

.nav-buttons {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.nav-buttons button {
  border-radius: 5px;
  border: 0;
  padding: 0.25rem 2.5rem;
  cursor: pointer;
}

.nav-select {
  background-color: cornsilk;
  color: black;

}

.nav-unselect {
  background-color: transparent;
  color: white;
}

.sign-out {
  background-color: red;
  color: white;
  font-size: 15px;
}

.sign-out:hover {
  font-size: 18px;
  padding: 0.25rem 2.25rem;
}

.admin-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admin-page button {
  width: 30%;
  height: 3rem;
  border: 0;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  color: white;
  background-color: red;
  margin-top: 1rem;
}

.start-and-end-vote {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
}

.start-and-end-vote button {
  width: 30%;
  height: 3rem;
  border: 0;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  color: white;
  background-color: black;

}

.start-and-end-vote button:hover {
  font-size: 16px;
}

.start-vote {
  background-color: green !important;
}

.end-vote {
  background-color: red !important;
}

.start-and-end-vote input {
  width: 60%;
  height: 3rem;
  border-radius: 5px;
  font-size: 15px;
  cursor: text;

}

.results-summary {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

}

.results-summary-box {
  display: flex;
  width: 30%;
  aspect-ratio: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.side-button {
  float: left;
  background-color: transparent;
  color: black;
  text-decoration: underline;
  border: 0;
}


